<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>Nestify</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">Ad</h6>
                <span>Soyad</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="/Default/Index/" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Siteye Git</a>
            <a href="index.html" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <a href="/Chart/Index/" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Grafikler</a>
            <a href="/Statistics/Index/" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>İstatistikler</a>
            <a href="/Chart/Index/" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>APIs</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Genel İşlemler</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/Category/Index/" class="dropdown-item">Kategoriler</a>
                    <a href="/Product/Index/" class="dropdown-item">İlanlar</a>
                    <a href="/Employee/Index/" class="dropdown-item">Personeller</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Diğer İşlemler</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/WhoWeAre/Index/" class="dropdown-item">Biz Kimiz</a>
                    <a href="/Product/Index/" class="dropdown-item">Hizmetler</a>
                    <a href="/PopularLocation/Index/" class="dropdown-item">Popüler Lokasyonlar</a>
                    <a href="/Employee/Index/" class="dropdown-item">Referanslar</a>
                    <a href="/Employee/Index/" class="dropdown-item">Günün Fırsatları</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Abonelik-İletişim</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="button.html" class="dropdown-item">Gelen Mesajlar</a>
                    <a href="typography.html" class="dropdown-item">E-Mail Listesi</a>
                    <a href="element.html" class="dropdown-item">E-Mail İşlemleri</a>
                    <a href="element.html" class="dropdown-item">İletişim Bilgileri</a>
                </div>
            </div>
        </div>
    </nav>
</div>